.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    background-color: $projects-background-color;
    font-size: max(1rem, 8.5px);

    &__title {
        margin: 25px 0 35px 0;
        color: $hero-navbar-text-color;
        text-align: center;
        font: 700 4em "Poppins", sans-serif;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, max-content));
        grid-gap: 35px;
        justify-content: center;
        align-self: center;
        width: 95%;
    }

    &__show-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        transition: box-shadow 300ms, transform, 300ms, background-color 300ms;
        margin: 45px 0 25px 0;
        width: 10em;
        height: 2.5em;
        border-radius: 0.5em;
        text-decoration: none;
        color: black;
        background-color: white;
        font: 600 1.75em "Poppins", sans-serif;

        &:hover {
            text-decoration: none;
            box-shadow: 0 4px 2px 4px rgba($color: #000000, $alpha: 0.1);
            transform: scale(1.02, 1.02);
            color: black;
            background-color: rgb(243, 243, 243);
        }
    }
}

.showcase-card {
    $root: &;
    --background-color: white;
    --flip-speed: 750ms;
    --flip-timing-func: ease;

    position: relative;
    perspective: 10000px;
    transition: 
        transform var(--flip-speed) var(--flip-timing-func), 
        box-shadow var(--flip-speed) var(--flip-timing-func);
    overflow: hidden;
    width: 275px;
    height: 375px;
    cursor: default;
    border-radius: 25px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.25);
    font-size: 10px;

    &--flipped {
        transform: scale(1.02, 1.02) translateY(-0.1cm) scale(-1, 1) !important;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);

        #{$root}__front {
            transform: translateZ(-1px);
            z-index: -1;
            opacity: 0;
        }

        #{$root}__back {
            transform: translateZ(1px) rotateY(180deg);
            z-index: 1;
            opacity: 1;
        }
    }

    &--animate-enable {
        animation: showCard 1250ms forwards ease-out;

        @keyframes showCard {
            0% {
                opacity: 0;
                transform: scale(0.85, 0.85);
                height: 0;
            }
            30% {
                opacity: 0;
                height: 375px;
            }
            90% {
                transform: scale(1.01, 1.01);
            }
            100% {
                opacity: 1;
                transform: scale(1, 1);
                height: 375px;
            }
        }
    }

    &--animate-disable {
        animation: hideCard 1250ms forwards ease-in;

        @keyframes hideCard {
            0% {
                opacity: 1;
                transform: scale(1, 1);
                height: 375px;
            }
            50% {
                height: 375px;
            }
            60% {
                opacity: 0;
                transform: scale(0.85, 0.85);
            }
            100% {
                opacity: 0;
                height: 0;
            }
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.02, 1.02) translateY(-0.1cm);
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    }

    &__front {
        backface-visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translateZ(1px);
        transform-style: preserve-3d;
        transition: 
            transform var(--flip-speed) var(--flip-timing-func), 
            z-index var(--flip-speed) var(--flip-timing-func), 
            opacity calc(var(--flip-speed) / 4.0) var(--flip-timing-func) calc(var(--flip-speed) / 4.0);
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        z-index: 1; 
        opacity: 1;
    }

    &__back {
        position: absolute;
        transform: translateZ(-1px) rotateY(180deg);
        transition: 
            transform var(--flip-speed) var(--flip-timing-func), 
            z-index var(--flip-speed) var(--flip-timing-func), 
            opacity calc(var(--flip-speed) / 4.0) var(--flip-timing-func) calc(var(--flip-speed) / 4.0);
        transform-style: preserve-3d;
        top: 0;
        left: 0;
        height: 100%;
        padding: 5px 10px;
        width: 100%;
        border: 6px solid $hero-dark-gray-soft-color;
        border-radius: 25px;
        background-color: var(--background-color);
        z-index: -1;
        opacity: 0;
    }

    &__img {
        align-self: center;
        aspect-ratio: 1.77;
        width: 100%;
        border-radius: 15px;
    }

    &__headers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 5px -2px 5px;
    }

    &__label {
        color: $hero-dark-gray-softer-color;
        font: 600 1.25em "Poppins", sans-serif;
    }

    &__time {
        color: $hero-dark-gray-softer-color;
        font: 500 1.25em "Poppins", sans-serif;
    }

    &__title {
        margin: 0 5px 0 5px;
        color: $hero-dark-gray-color;
        font: 600 2em "Poppins", sans-serif;
    }

    &__description {
        margin: 2px 5px 0 5px;
        color: $hero-dark-gray-soft-color;
        font: 400 1.35em "Poppins", sans-serif;
    }

    &__links {
        display: flex;
        position: relative;
        width: 100%;
        flex-grow: 1;
    }

    &__headline {
        margin-top: 15px;
        color: $hero-dark-gray-color;
        font: 600 1.6em "Poppins", sans-serif;
    }

    &__explanation {
        color: $hero-dark-gray-soft-color;
        font: 500 1.3em "Poppins", sans-serif;
    }

    & .dent-tab {
        margin: 5px 0;
        background-color: $hero-dark-gray-softer-color;
    }

    &__list {
        padding: 0 20px;
        margin: 0;
        color: $hero-dark-gray-soft-color;
        font: 500 1.3em "Poppins", sans-serif;
    }

    &__view-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 400ms;
        margin: 0 auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 35px;
        border-radius: 10px;
        text-decoration: none;
        color: $hero-navbar-text-color;
        background-color: $hero-background-color;
        font: 600 1.75em "Poppins", sans-serif;

        &:hover {
            text-decoration: none;
            color: $hero-background-color;
            box-shadow: 0 1px 2px 1px rgba($color: #000000, $alpha: 0.2);
            background-color: white;
            border: 2px solid $hero-background-color;
        }
    }

    &__corner-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        background-size: contain;

        &--bottom-left {
            bottom: 0;
            left: 0;
        }

        &--bottom-right {
            bottom: 0;
            right: 0;
        }

        &--github {
            background-image: url("/src/images/icons/github-icon.svg");
        }

        &--youtube {
            background-image: url("/src/images/icons/youtube-icon.svg");
        }
    }
}